h1,
h3 {
    font-family: 'Poppins', sans-serif;
}

.bubble-img {
    max-height: 460px;
    margin: auto;
}

.rotate-animation {
    -webkit-animation: rotate-center 100s linear infinite both;
    animation: rotate-center 100s linear infinite both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.head-area .head-content {
    h1 {
        color: #FFFFFF;
        font-size: 1.8rem;
        line-height: 2.75rem;
        font-weight: 700;
    }
    h3 {
        margin-top: 4.375rem;
        color: #FFFFFF;
        font-size: 1.125rem;
        line-height: 1.9rem;
        font-weight: 500;
        background: none;
        padding: 0;
    }
    .btn {
        color: #FFFFFF;
        letter-spacing: 0.25px;
        white-space: nowrap;
        font-weight: 700;
        line-height: 1;
        border-radius: .3rem;
    }
}

.redo-token {
    box-shadow: unset !important;
    color: white !important;
    font-weight: 300 !important;
    border: 2px solid #2004d9 !important;
    border-radius: unset !important;
    background: #2004d9 !important;
    &:hover {
        color: white !important;
        background: unset !important;
    }
}

.redo-whitepaper {
    box-shadow: unset !important;
    color: #6DEBA3 !important;
    font-weight: 300 !important;
    border: 2px solid #6DEBA3 !important;
    border-radius: unset !important;
    background: unset !important;
    &:hover {
        color: white !important;
        background: #6DEBA3 !important;
    }
}